* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/*menu*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navigation {
    margin-left: auto;
}

.navigation ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-right: 8rem;
}

header {
    display: flex;
    position: fixed;
    z-index: 110;
    width: 100%;
    background-color: white;
    height: 5rem;
    align-items: center;
    top: 0;
}

.navigation a {
    vertical-align: bottom;
    color: black;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

.header, .menu {
    font-family: 'Handjet', 'roboto';
    font-weight: 400;
    font-style: bold;
}

.header {
    color: white;
    font-size: 1.5rem;
}

/*main section*/
.main-content {
    background-image: url(../images/program-code-create-laptop-programmer-workplace-generative-ai_887552-7715.jpg.avif);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 30rem;
    background-position: center;
    display: relative;
}

.header {
    position: relative;
    top: 10%;
    left: 30%;
}

/*about myself*/
.about-section {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.about-section h2 {
    font-size: 3.5rem;
    margin-top: 5rem;
    padding-bottom: 2rem;
}
.about-section p {
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 10%;
}

/* latest work to show */
.portfolio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* contact */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.contact-section h2 {
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

.contact-section button {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 1.75rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: white;
    background-color: black;
}

/* footer */
footer {
    display: flex;
    background-color: black;
    color: white;
    height: 5rem;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

footer, p {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}